@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Sono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url(imagens/retrato-de-mulher-elegante-senior-em-rosa.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
}

header {
    padding: 50px;
    text-align: center;
    margin: auto;
}

nav {
    background-color: #CC4E6F;
    padding-top: 10px;
    padding-bottom: 10px;
}

nav a {
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    color: white;
}

main section#direita {
    width: 100%;
    justify-content: end;
    display: flex;
}

main article#sobre {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: white;

}

h1 {
    font-family: 'Sono', sans-serif;
    font-size: 5em;
}

main {
    height: 80vh;
}

footer {
    background-color: black;
    color: white;
    padding: 70px;
}

footer > p {
    text-align: left;
    font-size: 1em;
}


footer iframe {
    padding-top: 30px;
}

footer h3 {
    font-family: 'Sono';
    font-size: 2em;
    padding-bottom: 20px;
